*{
    margin: 0;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ADABAB;
    margin: 0;
    
}
/*CABEZA*/
.header{
    background: #333;
    color:white;
    padding: 1rem 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
.header a {
    color: white;
    text-decoration: none;
    display: inline-block;
}
.menu {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.logo-nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navegador ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.navegador ul li {
    display: inline-block;
    justify-content: flex-end;
    font-weight: bold;

}
.navegador ul li a:hover {
    background:rgb(59, 59, 59);
}
.navegador ul li a {
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.5s linear;
    border-radius: 2rem;
}
/*BUSCADOR*/
.Buscador form {
    width: 300px;
    margin: 0 auto;
}

.Buscador fieldset {
    display: inline-block;
    background: white;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 0 0 0 30px; 
}
.Buscador input, button {
    position: relative;
    float: left;
    width: 200px;
    height: 30px;
    padding: 0;
}

.Buscador input {
    color:gray;
    border:none;
    z-index: 2;
}

.Buscador button {
    font-size: 1.2em;
    width: 30px;
    border:none;
    background: #333;
    transform: translate(-50px,0);
    transition-duration: .3s;
}

.fa-search {
    color:#bbb;
    transform: translate(-180px,0);
    transition: all .1s ease-in-out;

}

.Buscador input:focus {
    outline: none;
}

.Buscador input:focus + button {
    transform: translate(0,0);
    transition-duration: .3s;

}

.Buscador input:focus + button .fas {
    color:#474747;
    transform: translate(0,0);
    transition-duration: .4s;
}


.main{
    padding-top: 10rem; 
}

@media only screen and (max-width:767px) {
   .navegador {
       width: 100%;
   }
    .navegador ul li {
        display: block;
        font-size: 2em;
    
    }
    .navegador ul li a:hover {
        background:rgb(59, 59, 59);
    }
    .navegador ul li a {
        display: block;
        padding: 0.5rem 0rem;
        transition: all 0.5s linear;
        border-radius: 2rem;
    }
}

/*ASIDE*/
.sidebar {
    border-radius: 10px; 
    box-shadow: #454647 1px 1px 0px 0px inset ;
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
    width: 200px;
    background: #8D8B8B;
    margin-left: 20px;
    margin-top: 10px; 
    padding: 10px;
    height: 100%;
}

.papas{
    text-decoration: none;
}

.titulos{
    color: aliceblue;
}

.sidebar ul li{
    list-style: none;
    color: black;
    text-decoration: none;
}

.sidebar li a {
    text-decoration: none;
}

/*LISTA DE JUEGOS*/
.list_juegos{
    overflow: hidden;
    display: inline-block;
    padding: 10px;
}
  
/*DESTACADOS*/ 
.destacado{
    padding: 5px;
    margin: 10px;
    float: center;
    display: inline-block;
    color: #474747;
}

center{
    display: center;
}

/*OFERTAS*/
.ofertas{
    padding: 5px;
    margin-left: 250px;
    flex-grow: center;
    display: inline-block;
    color: #474747;
}
center{
    display: center;
}

/*FOOTER*/
footer {
    background-color:  #454647;
    color: white;
    width: 100%;
    text-decoration: none;
}

.contenedor-total {
    margin: auto; /*para que este centrado */
    padding: 40px; 
}

.contenedor{
    text-decoration: none;
    display: flex;
    justify-content: space-between; /*para separar las 2 columnas*/
}

.columna1{ 
    max-width: 400px;
}

.columna1 h1 {
    font-size: 22px;
}

.fila {
    display:flex;
    margin-top: 20px
}
 
.fila img{
    width: 36px;
    height: 35px;
}

.fila p{
    margin-top: 10px;
    margin-left: 10px;
    color: #92969D;
}

.columna2{
    max-width: 400 px;
}

.columna2 h1 {
        font-size: 22px;
    
    }

.fila2{
    display: flex;
    margin-top: 20px;
}
.fila2 img {
    width: 36px;
    height: 35px;
}
.fila2 p{
    margin-top: 10px;
    margin-left: 10px;
    color: #92969D;
}
.contenedor2{
    background: #161616;
    margin: auto;
}
.footer{
    justify-content: space-between;
    display: flex;
    max-width: 1200px;
    padding: 20px;
    margin: auto; 
}
.DR{
    color: #92969D;
}
.politicas a{
    color: #92969D;
    text-decoration: none
}
/*FORMULARIO*/
.marco{
    display: inline;
}
.titulomarco{
    margin-left: 10px;
}

/*LOGIN*/

.login-box {
width: 320px;
height: 420px;
background: black;
color: #fff;
top: 50%;
left: 50%;
position: absolute;
transform: translate(-50% , -50%);
box-sizing: border-box;
padding: 70px 30px;
}

.login-box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
.login-box h1{
margin: 0;
padding: 0 0 20px;
text-align: center;
font-size: 22px;
}
.login-box label{
margin: 0;
padding: 0;
font-weight: bold;
display: block;
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    height: 40px;
    color: white;
    font-size: 16px;
}

.login-box input[type="submit"]{
    border:none;
    outline:none;
    height: 40px;
    background: #060061;
    color:white;
    font-size: 18px;
    border-radius: 20px;
}

.login-box a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color:darkgray;
}

.login-box a:hover{
    color:white;
}